* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* src/assets/fonts.css */
@font-face {
  font-family: "TT Firs Neue Trial Var Roman";
  src: url("./assets/fonts/TT\ Firs\ Neue\ Trial\ Var\ Roman.ttf")
    format("truetype");
}

:root {
  /* font-family: "Nanum Pen Script", cursive; */
  --font-neue: "TT Firs Neue Trial Var Roman", sans-serif;
  --secondary-font-family: "Nanum Pen Script", cursive;
  --line-height: 1.5;
  --font-weight: 400;
  --base-font-size: 10px;

  --primary-color-white: #ffffff;
  --primary-color-black: rgba(10, 10, 10, 1);

  --text-color-white: #ece9e3;
  --text-color-alt: rgba(255, 51, 102, 1);

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #0a0a0a;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:white {
  background-color: #ffffff;
}

body {
  max-width: 2560px;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--base-font-size);
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--primary-color-white);
}
